[mysqld]
user=mysql
basedir=/opt/module/mysql
datadir=/opt/module/mysql/data
log-error = /opt/module/mysql/data/error.log
pid-file = /opt/module/mysql/data/mysql.pid
socket=/tmp/mysql.sock
server_id=6
port=3306
bind-address = 0.0.0.0
default-time_zone = '+8:00'
log-bin=mysql-bin
binlog_format=row
binlog-do-db=gmall1122
[client]
port=3306
socket=/tmp/mysql.sock



[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
